* {
    margin: 0;
    padding: 0;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 1.2rem;
}
body{
    background-color: #E9EDEE;
}

.banner {
    background-color: #222F3F;
    text-align: start;
}

.banner img {
    width: 220px;
    height: 60px px;
    padding: 20px;
}

.bannera {
    background-color: #364759;
}

.bannera ul li {
    color: white;
    margin: 10px 10px;
    display: inline-block;
    text-align: start;
    font-size: 1rem;
}

.bannera ul {
    margin-left: 20px;
}
.main{
    width: 90%;
    margin: 0 auto;
}
.giftcard{
    margin: 50px 0;
    background-color: #F46600;
}
.giftcard p{
    color: white;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}
.giftguide{
    background-image: url(../images/bg-image.png);
    background-size: 95% 65%;
    width: 100%;
    height: 200px;
    background-repeat: repeat;
    margin-bottom: 50px;
}
.giftguide h2{
    text-align: center;
    padding-top: 70px;
    color: white;
    font-size: 1.7rem;
}
.giftguide p{
    text-align: center;
    padding: 20px 0;
    color: white;
    font-weight: bold;
}
.shopimages{
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}
.shopimages img{
    box-shadow: 5px 5px 5px grey;
    height: 400px;
    width: 22%;
    margin: 10px 20px;
    border-radius:10%;
    
}
.shopindex{
    display: inline-block;
    padding: 15px 30px;
}
.shopindex p{
    font-weight: bold;
}
.gift{
    background-color: white;
    margin-bottom: 50px;
}
.shopnow{
    color: #10616E;
    font-size: 1rem;
}
.visore img {
    width: 100%;
}
.visore p{
    font-weight: bold;
    text-align: center;
}
.visore{
    margin-bottom: 50px;
}
.accessori img{
    width: 100%;
}
.accessori p{
    font-weight: bold;
    text-align: center;
}
.accessori {
    margin-bottom: 50px;
}
.back a{
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.back{
    background-color:#364759 ;
    text-align: center;
    padding: 25px;
}
.footer img{
    width: 220px;
    height: 60px px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 70px;
}
.footer{
    text-align: center;
    background-color:#222F3F ;
}